@charset "utf-8";

/* ヘッダー部分 */

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  margin-bottom: 5px;
}

.logo {
  width: 91px;
  height: 70px;
}

.buttons {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  align-items: start;

  a {
    display: flex;
    flex-direction: column;
    margin: 7px 0 15px 0;
    align-items: center;
    gap: 10px;
    width: 100%;
    height: 100%;
  }

  span {
    font-size: 8px;
    color: white;
  }
}

.pc-form-button,
.pc-line-button {
  width: 250px;
  height: 65px;
  border-radius: 8px;

  img {
    width: 30px;
    height: auto;
    filter: invert(1);
  }

  h5 {
    color: #fff;
  }

  a {
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
  }
}

.pc-form-button {
  background: #2E3D52;
}

.pc-line-button {
  background: #06C755;
}

.pc-form-button:hover,
.pc-line-button:hover{
    transform: translateY(-2px);
  transition: 0.2s;
}

.form-button,
.line-button {
  height: 70px;
  width: 70px;
  display: flex;
  justify-content: center;
  filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.3));
}

.form-button {
  background-color: #2E3D52;

  img {
    width: 35px;
    height: 28px;
  }
}

.line-button {
  background-color: #06C755;

  img {
    width: 30px;
    height: 28px;
  }
}



.menu {
  display: flex;
  height: 50px;

  a {
    border: solid 1px #2E3D52;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;

    li {
      text-align: center;
      font-size: 13px;
    }
  }
}

@media (min-width: 768px) {
  .cs {
    display: none;
  }

  .pc {
    display: block;
  }

  .buttons {
    gap: 25px;
  }

  .menu {
    margin: 0 auto;
    max-width: 1300px;
  }

  .menu a {
    border: none;
    border-left: solid 2px #2E3D52;
  }

  .menu a:last-child {
    border-right: solid 2px #2E3D52;
  }

  .menu li {
    font-size: 18px;

    br {
      display: none;
    }
  }

}

@media (max-width: 429px) {
  header {
    margin-bottom: 70px;
  }

  .menu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

/* ファーストビュー部分 */
.firstview {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: #2E3D52;
  color: #fff;

  h5 {
    margin: 50px 0 25px 0;
  }
}

.first-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.first-badge {
  background-image: url(../img/firstview-badge.webp);
  background-size: contain;
  background-repeat: no-repeat;
  width: 130px;
  height: 130px;
  text-align: center;
  padding: 20px;

  span {
    font-size: 20px;
    font-weight: bold;
  }
}

.first-leaf {
  position: relative;
  background: url(../img/fiestview-leaves.webp);
  background-size: 111px 73px;
  width: 111px;
  height: 73px;
  text-align: center;
  font-size: 20px;
  font-weight: medium;
}

.first-leaf::after {
  content: "";
  position: absolute;
  inset: 0;
  background: url("img/top.png") no-repeat center / contain;
}

.first-img {
  display: flex;
  max-width: 370px;
  padding: 25px 30px;

  img {
    width: 50%;
    height: auto;
  }
}

.first-marker {
  position: relative;
  display: inline-block;
  z-index: 0;
}

.first-marker::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 100%;
  height: 14px;
  background-image: url(../img/firstview-marker.svg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  z-index: -1;
}

.first-p {
  max-width: 370px;
  padding-bottom: 70px;
}

.first-cta {
  .cta-tel {
    background-color: #FFFAF0;
    color: #2E3D52;
  }
}

.min-first {
  display: flex;
}

@media(min-width:768px) {

  .firstview {
    position: relative;
    background: none;
    overflow: hidden;
  }

  .firstview::before,
  .firstview::after {
    content: "";
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    background-size: cover;
    background-position: center;
    z-index: 0;
  }

  .firstview::before {
    left: 0;
    background-image: url(../img/firstview-before.webp);
  }

  .firstview::after {
    right: 0;
    background-image: url(../img/firstview-after.webp);
  }

  .first-inner {
    position: relative;
    z-index: 1;
    max-width: 530px;
    margin: 0 auto;
    background: #2E3D52;
    padding: 30px 40px;

    h5 {
      font-size: 28px;
    }

    h1 {
      font-size: 72px;
    }
  }

  .first-content {
    position: relative;
  }

  .first-badge {
    width: 200px;
    height: 200px;
    font-size: 28px;
    position: absolute;
    left: -100px;
    top: 10px;

    span {
      font-size: 36px;
    }

  }

  .first-leaf {
    font-size: 28px;
    width: 160px;
    height: 105px;
    background-size: 160px 105px;
    width: 160px;
    height: 105px;
    text-align: center;
  }

  .min-first {
    padding: 50px 0 30px 100px;
  }

  .first-p {
    font-size: 18px;
    max-width: none;
    padding: 0 0 0 70px;
  }


}


@media (max-width: 429px) {
  .first-content {
    flex-direction: column;
    gap: 10px;
  }
}

/* 悩み部分 */
.trouble {
  background: #dedede;
}

.troubles {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 10px;


  .red {
    position: relative;
    display: inline-block;
    z-index: 0;
  }

  .red::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 100%;
    height: 14px;
    background-image: url(../img/trouble-marker.svg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    z-index: -1;
  }

  h3 {
    margin-bottom: 30px;
  }

  p {
    border: solid 1px #2E3D52;
    padding: 10px;
    width: 100%;
    background: white;
  }

  img {
    width: 140px;
    height: auto;
  }
}

.solution {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 100%;
  background: #2E3D52;
  position: relative;

  h5 {
    color: white;
    padding: 20px;
  }


  h3 {
    margin-bottom: 30px;
  }

  p {
    border: solid 1px #2E3D52;
    padding: 10px;
    width: 100%;
    background: white;
  }

  img {
    width: 140px;
    height: auto;
  }
}

.solution::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -19px;
  width: 100px;
  height: 30px;
  background: #2E3D52;
  z-index: 10;
  transform: translateX(-50%);

  clip-path: polygon(0 0, 100% 0, 50% 80%);
}

@media(min-width:768px) {
  .troubles {
    position: relative;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 100px;

    h3 {
      font-size: 32px;
    }

    p {
      font-size: 18px;
      font-weight: medium;
    }

    img {
      position: absolute;
      left: 30px;
      bottom: -20px;
    }
  }
}

/* 理由部分 */
.reason {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-image: url(../img/background-reason.webp);
}

.reason-main {
  display: flex;
  margin-bottom: 30px;

  br {
    display: none;
  }

  img {
    width: 140px;
    height: auto;
  }

}

.remain-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 0 0 -15px -26px;
}

.large {
  font-size: 64px;
  font-weight: bold;
}

.reason-cards {
  display: flex;
  flex-direction: column;
  max-width: 370px;
  border: solid 1px #2E3D52;
  background: #fff;
  margin-bottom: 40px;
}

.reason-title {
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 80px;
    height: 75px;
  }

  h3 {
    width: 100%;
    height: 75px;
    background: #fff;
    border: solid 1px #2E3D52;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.reason-content {

  text-align: left;

  img {
    width: 100%;
    height: auto;
    padding: 5px;
  }

  h4 {
    padding: 15px;
    line-height: 150%;
  }

  p {
    margin-bottom: 20px;
    padding: 0 15px;
    line-height: 170%;
    letter-spacing: 10%;
  }
}


@media(min-width:768px) {
  .reason {
    background-image: linear-gradient(rgba(231, 240, 248, 0.6), rgba(231, 240, 248, 0.6)),
      url(../img/background-reason.webp);
  }

  .remain-text {
    margin: 0;
    position: relative;
  }

  .remain-text h5 {
    position: absolute;
    top: 36%;
    left: 10px;
    transform: translateY(-50%);
    font-size: 28px;
    margin: 0;
  }




  .large {
    font-size: 100px;
    line-height: 1;
  }

  .reason-main img {
    width: 170px;
    height: auto;
  }

  .reason-cards {
    display: flex;
    flex-direction: row;
    max-width: 1000px;
    width: 100%;
    border: none;
    background: none;
    margin: 0 auto 60px;
  }


  .reason-img {
    width: 55%;
    position: relative;
  }

  .reason-img img {
    height: auto;
    display: block;
  }

  .reason-num {
    position: absolute;
    top: 0px;
    left: 0px;
    max-width: 80px;
  }


  .reason-text {
    width: 45%;
    text-align: left;
  }

  .reason-cards:nth-of-type(odd) {
    flex-direction: row-reverse;
  }

  .reason-content {
    flex: 0.8;
    padding: 0 40px;
  }

  .reason-content {

    h4,
    p {
      padding: 30px 0 0 0;
    }

    br {
      display: none;
    }
  }
  .cta-bottom-text {
    display: flex;
    justify-content: center;
    align-items: center;

  div {
    font-size: 28px;
    font-weight: bold;
    height: 100px;
    text-align: center;
  }

}


}

@media (max-width: 429px) {
  .reason-main {

    br {
      display: block;
    }

  }

  .remain-text {
    margin: 0 0 -15px 0;
  }

  .reason-cards br {
    display: none;
  }

  .reason-title h3 {
    font-size: 22px;
  }

}

/* 料金部分 */
.cost {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-image: url(../img/background-cost.webp);
  background-image: linear-gradient(rgba(231, 240, 248, 0.6), rgba(231, 240, 248, 0.6)),
    url(../img/background-cost.webp);
  background-size: cover;
  background-repeat: repeat;
  background-position: center;
}

.cost h6 {
  padding-bottom: 30px;
}

.cost-cards {
  display: flex;
  flex-direction: column;
  width: 370px;
  margin-bottom: 40px;
}

.cost-top {
  display: flex;
  justify-content: center;
  padding: 20px 35px;
  background: #2E3D52;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  gap: 8px;
}

.cost-area {
  background: #FBAB32;
  color: white;
  padding: 10px;
}

.cost-degree {
  background: #FBAB32;
  color: white;
  padding: 10px;
}

.cost-bottom {
  display: flex;
  flex-direction: column;
  background: white;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.cost-price {
  font-size: 28px;
  font-weight: bold;
  margin: 10px 0;
}

.cost-time {
  font-size: 16px;
  margin-bottom: 20px;
}

.big {
  font-size: 24px;
  font-weight: bold;
}

.cost-content {
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.cost-content li {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.over-content {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  max-width: 340px;
}

.over-content li {
  width: 100px;
  height: 75px;
  background: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.under-content {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  max-width: 340px;
}

.under-content li {
  width: 100px;
  height: 75px;
  background: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

/* 作業事例部分 */

.work-examples {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.work-cards {
  display: flex;
  gap: 50px;
}

.work-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #CFE5FB;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: 2mm ridge rgb(46 61 82 / 0.6);
  max-width: 370px;
}

.case {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 10px;
}

.case img {
  width: 80px;
  height: auto;
}

.case h6 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  border-bottom: solid 1px #2E3D52;
}

.parallel {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding-bottom: 10px;
}

.before {
  position: relative;
}

.before div {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  font-size: 16px;
  font-weight: 600;
  color: white;
  background: #2E3D52;
  width: 75px;
  height: 20px;
}

.before img {
  width: 130px;
  height: auto;
}

.after {
  position: relative;
}

.after div {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  font-size: 16px;
  font-weight: 600;
  color: white;
  background: #FBAB32;
  width: 75px;
  height: 20px;
}

.after img {
  width: 130px;
  height: auto;
}

.center img {
  width: 10px;
  height: auto;
}

.work-pa {
  display: flex;
  gap: 30px;
  padding-bottom: 10px;
}

.works {
  display: flex;
  background: #2E3D52;
  color: white;
  width: 130px;
  height: 30px;
}

.white {
  background: white;
  color: #2E3D52;
}

.left-text {
  flex: 1.4;
  display: flex;
  justify-content: center;
  padding-top: 2px;
}

.right-text {
  flex: 1;
  display: flex;
  justify-content: center;
  margin: 2px 1px 0 0;
}

.charge-text {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #2E3D52;
  color: white;
  width: 150px;
  height: 20px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-size: 16px;
  font-weight: bold;
}

.charge {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  color: #2E3D52;
  width: 150px;
  height: 35px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  font-size: 18px;
  font-weight: bold;
}

.inverted-triangle {
  width: 50px;
  height: auto;
}

.request {
  padding: 10px 0 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 324px;
}

.re-text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95%;
  height: 25px;
  color: white;
  background: #E8412E;
  font-size: 18px;
  font-weight: bold;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.re-charge {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95%;
  height: 50px;
  color: #E8412E;
  background: white;
  font-size: 20px;
  font-weight: bold;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.human span {
  display: flex;
  font-size: 18px;
  font-weight: bold;
  justify-content: center;
}

.human {
  display: flex;
  flex-direction: column;
}

.human img {
  width: 80px;
  height: auto;
}

.evaluation {
  display: flex;
  align-items: center;
  gap: 5px;
  width: 95%;
  height: auto;
  margin: 0 5px 10px 5px;
}

.eva-text {
  max-width: 80%;
  word-break: break-word;
  overflow-wrap: break-word;
  text-align: left;
}

@media (max-width: 429px) {
  .work-examples {
    padding: 70px 0;
  }

  .case {
    flex-direction: column;
    gap: 10px;
  }

  .parallel {
    flex-direction: column;
    gap: 5px;
  }

  .center img {
    transform: rotate(90deg);
  }

  .work-pa {
    flex-direction: row;
    gap: 10px;
  }

  .request {
    max-width: 330px;
  }

  .evaluation {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

}

/* サービスの流れ部分 */

.service {
  background-image: url(../img/background-nagare.webp);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-size: cover;
  background-repeat: repeat;
  background-position: center;
  background-image:
    linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),
    url(../img/background-nagare.webp);

  background-size: cover;
}

.flow {
  position: relative;
  margin-bottom: -30px;
}

.flow::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -19px;
  width: 100%;
  height: 20px;
  background: #fff;
  z-index: 10;

  clip-path: polygon(0 0, 100% 0, 50% 80%);
}

.flow:nth-child(1) {
  z-index: 8;
}

.flow:nth-child(2) {
  z-index: 7;
}

.flow:nth-child(3) {
  z-index: 6;
}

.flow:nth-child(4) {
  z-index: 5;
}

.flow:nth-child(5) {
  z-index: 4;
}

.flow:nth-child(6) {
  z-index: 3;
}

.flow:nth-child(7) {
  z-index: 2;
}

.flow:nth-child(8) {
  z-index: 1;
}

.flow:last-child::after {
  display: none;
}

.flow-photo {
  background-size: cover;
  background-repeat: repeat;
  background-position: center;
  width: 100%;
  height: 160px;
  position: relative;
}

.flow-photo img {
  width: 40px;
  height: auto;
  position: absolute;
  left: 10px;
  bottom: 10px;
}


.flow-sentence {
  display: flex;
  flex-direction: column;
  background-color: white;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.flow-sentence h3 {
  padding-bottom: 15px;
}

.flow-sentence p {
  padding-bottom: 16px;
}

.border {
  width: 100%;
  height: 2px;
  background-color: #2E3D52;
  margin-bottom: 15px;
}

@media (max-width: 429px) {
  .flow-sentence {
    padding: 15px;
  }

  .flow-sentence br {
    display: none;
  }

  .flow-sentence {
    word-break: break-word;
    overflow-wrap: break-word;
  }

}



/* お客様の声部分 */
.voice {
  padding: 70px 0;
  text-align: center;
  margin: 0 auto;
  position: relative;
}

.swiper-slide {
  max-width: 370px;
  background: white;
  border: 2mm ridge rgb(46 61 82 / 0.6);
}

.voice-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 305px;
  margin: 0 auto;
  gap: 10px;
}

.voice-title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  width: 100%;
  max-width: 305px;

  img {
    width: 65px;
    height: auto;
  }
}

.face-name {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  div {
    background: #2E3D52;
    width: 65px;
    height: 1px;

  }
}

.JD {
  background: #2E3D52;
  color: white;
  width: 90px;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.floor-plan {
  background: #FBAB32;
  color: #2E3D52;
  width: 90px;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.voice-paper {
  width: 100%;
  height: 165px;
  /* autoにする */
  background: #dedede;
}

.voice-text1 {
  width: 100%;
  text-align: left;
}

.voice-border {
  width: 100%;
  height: 2px;
  background-color: #2E3D52;
}

.graf {
  display: flex;
  gap: 30px;
}

.voice-evaluation1 {
  display: flex;
  flex-direction: column;
  max-width: 120px;

  span {
    width: 100%;
    height: 30px;
    background: #2E3D52;
    color: #fff;
    position: relative;
    margin-bottom: 8px;
  }

  span::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -6px;
    width: 18px;
    height: 8px;
    background: #2E3D52;
    z-index: 10;
    transform: translateX(-50%);

    clip-path: polygon(0 0, 100% 0, 50% 80%);
  }


  img {
    width: 100%;
    height: auto;
  }
}

.voice-evaluation2 {
  display: flex;
  flex-direction: column;
  max-width: 120px;

  span {
    width: 100%;
    height: 30px;
    background: #2E3D52;
    color: #fff;
    position: relative;
    margin-bottom: 8px;
  }

  span::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -6px;
    width: 18px;
    height: 8px;
    background: #2E3D52;
    z-index: 10;
    transform: translateX(-50%);

    clip-path: polygon(0 0, 100% 0, 50% 80%);
  }

  img {
    width: 50%;
    height: auto;
  }

  div {
    background: url(../img/voice-badge.webp) no-repeat center / cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100px;
  }
}

.voice-p {
  width: 100%;
  word-break: break-all;
  text-align: left;
}

.before-after {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}

.voice-photo {

  img {
    width: 120px;
    height: auto;
  }
}

#prev,
#next {
  position: absolute;
  top: 50%;
}

#prev:hover,
#next:hover {
  opacity: .2;
}

#prev {
  left: 0;
}

#next {
  right: 0;
}

.swiper {
  margin: 0 auto;
}

.swiper-wrapper {
  width: 100%;
  height: auto;
  overflow: hidden;
  position: relative;
}

.swiper-wrapper ol {
  height: 100%;
  display: flex;
  transition: transform .3s;
}

.slide-button img {
  width: 28px;
  height: auto;
}

.hidden {
  display: none;
}

/* よくあるご質問部分 */
.question {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../img/background-question.webp);
  background-size: cover;
  background-repeat: repeat;
  background-position: center;
}

.Q {
  padding-top: 5px;

  img {
    width: 25px;
    height: auto;
  }

}

.faq {
  max-width: 370px;
}

dt {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 22px;
  font-weight: bold;
  border-bottom: solid 1px #2E3D52;
  line-height: 26px;
  margin-bottom: 30px;
  padding-bottom: 5px;
}

.toggle-icon {
  margin-left: auto;
  padding-top: 6px;
}

dd {
  font-size: 16px;
  line-height: 1.5;
  padding: 0 0 40px 18px;
}

.strong {
  font-weight: 600;
  margin-bottom: 20px;
}

@media (max-width: 350px) {
  .question br {
    display: none;
  }

  .faq {
    max-width: 100%;
  }

  .question {
    word-break: break-word;
    overflow-wrap: break-word;
  }
}

/* CTA部分 */
.cta {
  /* margin-bottom: 70px; */
  border-bottom: solid 1px black;
  border-top: solid 1px black;
}

.cta-tel {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2E3D52;
  color: white;
  height: 78px;
  gap: 12px;

  img {
    width: 24px;
    height: auto;
    padding-bottom: 5px;
  }
}

.cta-tel-text {
  display: flex;
  flex-direction: column;
  gap: 6px;

  h3 {
    line-height: 80%;
  }


}

.cta-under {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 5px;
  padding: 10px 0;
  background-color: #E7F0F8;

  h6 {
    padding-bottom: 3px;
  }

}

.cta-button {
  display: flex;
  gap: 60px;
}

.cta-line,
.cta-form {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 200px;
  height: 70px;
  gap: 7px;
  filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.3));
  border-radius: 8px;

  .cs {
    width: 30px;
    height: auto;
  }

  span {
    font-size: 16px;
    color: white;
  }
}

.cta-line {
  background-color: #06C755;
  color: white;
}

.line-img {
  width: 30px;
  height: auto;
}


.cta-form {
  background-color: #2E3D52;
  color: white;
}

.cta-line:hover,
.cta-form:hover {
  transform: translateY(-2px);
  transition: 0.2s;
}

.cta-caution {
  margin-top: -8px;

  small {
    font-size: 6px;
    color: #2E3D52;
    line-height: 1;
  }
}

@media(min-width:768px) {
  .cs {
    display: none;
  }

  .first-cta {

    .cta {
      background: #FFFAF0;
    }
  }

  .cta {
    background-color: #2E3D52;
  }

  .cta-under {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 60px;
    background: white;
    max-width: 1440px;
    height: auto;
    margin: 50px auto;
    border: solid 1px #2E3D52;
    border-radius: 8px;
    padding: 20px 5px;
  }

  .pc-cta {
    display: flex;
    flex-direction: column;
    text-align: center;

    h5 {
      font-size: 48px;
    }

    h6 {
      font-size: 28px;
    }

    small {
      font-size: 14px;
    }
  }

  .cta-button {
    display: flex;
    flex-direction: column-reverse;
    gap: 15px;

    br {
      display: none;
    }
  }

  .cta-line,
  .cta-form {
    max-width: 490px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;

    span {
      font-size: 24px;
      padding: 0 20px;
    }
  }

  .computer {
    margin-left: 30px;
    width: 40px;
    height: auto;
  }

  .pc-arrow {
    filter: invert(1);
    width: 30px;
    height: auto;
    margin-right: 5px;
  }

}


@media (max-width: 429px) {
  .cta-button {
    flex-direction: column;
    gap: 10px;
  }
}

/* 終わり部分 */

.credit {
  background-color: #2E3D52;
  border: solid 1px #2E3D52;
  border-radius: 8px;
  margin: 70px auto 50px auto;
  max-width: 768px;

  h5 {
    color: white;
    padding: 10px 0;
    text-align: center;
  }
}

.credit-under {
  display: flex;
  background-color: white;
  border: solid 1px #2E3D52;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  padding: 20px;
  justify-content: center;
  align-items: center;
  gap: 25px;

}

.credit-point {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-weight: bold;
  gap: 10px;
  min-width: 180px;
  text-align: center;
  width: 100%;
  justify-items: stretch;



  li {
    color: white;
    background-color: #2E3D52;
    width: 100%;
    height: 30px;
    padding-top: 2px;
  }
}

.credit-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
  justify-items: stretch;

  img {
    width: 100%;
    max-height: 50px;
    object-fit: contain;
  }
}

.invoice {
  background-image: url(../img/invoice-background.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 140px;
  display: flex;
  border: solid 3px #2E3D52;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 0 120px;
  border-radius: 10px;
  max-width: 768px;
  margin: 0 auto 70px auto;
}


.invoice-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex: 1;

  div {
    background-image: url(../img/invoice-diagonal-line-box.webp);
    background-position: center;
    min-width: 179px;
    min-height: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.invoice-word1 {
  font-size: 36px;
  -webkit-text-stroke: 4px #E8412E;
  filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.3));
}

.invoice-word2 {
  font-size: 12px;
  font-weight: bold;
  color: white;
  padding-bottom: 2px;
}

.invoice-img {
  text-align: center;
  flex: 1.5;

  img {
    width: 100%;
    width: 30px;
    height: auto;
  }
}

.invoice-img2 {
  text-align: center;
  flex: 1.5;

  img {
    width: 100%;
    width: 100px;
    height: auto;
  }
}

@media(min-width:768px) {
  .credit {
    max-width: 1000px;
    margin: 60px auto;
  }

  .credit-under {
    padding: 20px 10px 20px 20px;
  }

  .credit-point {
    flex-direction: row;
    max-width: 530px;

    li {
      font-size: 22px;
      min-width: 110px;
      height: 100px;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  .credit-list {
    display: flex;
  }

}

@media (max-width: 429px) {
  .credit-under {
    flex-direction: column;
    gap: 20px;
  }

  .invoice {
    flex-direction: column;
    padding: 20px;
  }
}

/* フッター部分 */
footer {
  background-color: #2E3D52;
  color: white;
  text-align: center;
  padding: 20px 0;
  height: 75px;

  ul {
    display: flex;
    justify-content: center;
    font-size: 8px;
  }

  a {
    color: white;
  }

  small {
    font-size: 8px;
  }
}

.f-first {
  border-right: solid 1px white;
  padding-right: 10px;
  margin-right: 10px;
}

/* CV部分 */

.CV {
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1000;

  img {
    width: 25px;
    height: auto;
  }

  a {
    display: flex;
    text-align: center;
    padding: 15px;
    font-weight: bold;
    font-size: 12px;
    align-items: center;
    justify-content: center;
    gap: 12px;

  }

}

.CV-LINE {
  display: flex;
  background: #06C755;

  a {
    color: #fff;
  }

}


.CV-form {
  display: flex;
  background: #2E3D52;

  a {
    color: #fff;
  }
}

.CV-tell {
  display: flex;
  background: #E7F0F8
}